
@import './base.css';
@import './animations.css';

#app {
  padding: 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #2e3191;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #faaf3b;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
  }

}
